<form class="form">
    <p>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Headline" value="" [formControl]="headlineInputControl">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Text</mat-label>
            <textarea matInput placeholder="Text with competences" [formControl]="textInputControl"></textarea>
        </mat-form-field>
    </p>
    <p>
        <button mat-raised-button (click)="enrich()">Berika</button>
    </p>
</form>
<div *ngFor="let document of enrichments">
    <p>
        Competencies
        <mat-chip-listbox aria-label="Competencies" multiple>
            <mat-chip-option
                *ngFor="let item of document.enriched_candidates.competencies">{{item.term}}</mat-chip-option>
        </mat-chip-listbox>
    </p>
    <p>
        Geos
        <mat-chip-listbox aria-label="Geos" multiple>
            <mat-chip-option
                *ngFor="let item of document.enriched_candidates.geos">{{item.term}}</mat-chip-option>
        </mat-chip-listbox>
    </p>
    <p>
        Occupations
        <mat-chip-listbox aria-label="Occupations" multiple>
            <mat-chip-option
                *ngFor="let item of document.enriched_candidates.occupations">{{item.term}}</mat-chip-option>
        </mat-chip-listbox>
    </p>
    <p>
        Traits
        <mat-chip-listbox aria-label="Traits" multiple>
            <mat-chip-option
                *ngFor="let item of document.enriched_candidates.traits">{{item.term}}</mat-chip-option>
        </mat-chip-listbox>
    </p>
</div>