<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>{{conceptType}}</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Occupation"
             matInput
             [formControl]="occupationGroupControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)='select($event.option.value)'>
        <mat-option *ngFor="let occupationGroup of occupationGroups | async" [value]="occupationGroup">
          {{occupationGroup['taxonomy/preferred-label']}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
