<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Skill</mat-label>
      <input type="text"
             placeholder="Write a skill"
             aria-label="Write a skill"
             matInput
             [formControl]="autocompleteControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let skill of skills | async" [value]="skill.concept">
          {{skill.term}} ({{skill.concept}})
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-raised-button (click)="select()">Lägg till</button>
    <button mat-raised-button color="warn" (click)="empty()">Rensa</button>
  </form>