<div class="grid-container">
  <div class="grid-item">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Skill</mat-label>
        <input type="text" placeholder="Write a skill" aria-label="Write a skill" matInput
          [formControl]="autocompleteControl" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="setOriginSkill($event)"
          [displayWith]="displayOriginSkill">
          <mat-option *ngFor="let skill of autocompleteSkills | async" [value]="skill">
            {{skill.term}} ({{skill.concept}})
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-raised-button color="warn" (click)="clearOriginSkill()">Rensa</button>
    </form>
    <mat-divider></mat-divider>
    <p>Hittade {{jobSearchResult?.totalHits}} annonser med kompetens: {{jobsearchRequest?.q}}</p>
    <mat-card *ngFor="let item of jobSearchResult?.hits" class="jobad-card">
      <mat-card-content>
        <a href="https://arbetsformedlingen.se/platsbanken/annonser/{{item.id}}" target="_blank">{{item.headline}}</a>
        <mat-chip-listbox aria-label="Skills" multiple>
          <mat-chip-option *ngFor="let skill of item.skills"
            (selectionChange)="selectSkill($event, skill.concept_label)"
            [selected]="isSkillSelected(skill.concept_label)">{{skill.concept_label}}</mat-chip-option>
        </mat-chip-listbox>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="grid-item">
    <h3>Selected skills (Ontology)</h3>
    <mat-chip-listbox class="mat-mdc-chip-set-stacked" multiple>
      <mat-chip-option *ngFor="let skill of selectedSkills">{{skill}}</mat-chip-option>
    </mat-chip-listbox>
    <mat-divider></mat-divider>
    <h3>Related Occupations (Taxonomy)</h3>
    <mat-chip-listbox class="mat-mdc-chip-set-stacked" multiple>
      <mat-chip-option *ngFor="let occupation of relatedOccupations">{{occupation.occupation_label}}</mat-chip-option>
    </mat-chip-listbox>
  </div>
  
</div>